MONGOADMIN=
MONGOPASS=
MONGOURL=mongodb://host.docker.internal:27017/microservice-social
MONGOTESTURL=mongodb://host.docker.internal:27017/microservice-social_test
NODE_ENV=development
JWT_SECRET=
PORT=3004
LOG_LEVEL=info
API_TITLE="Social microservice API"
API_DESCRIPTION="This is an OAS description of this social microservice REST API"
